/* Variables */

//Layouts
$big-layout: 1200px;
$medium-layout: 767px;
$small-layout: 475px;

//Primary font
$font: 'Quattrocento Sans', sans-serif;

//Colors
$primary-color: #005899;
$seconday-color: #588EAA;
$complementary-color: #FF7F65;
$white: #FFFFFF;
$black: #000000;

//Font Sizes
$big-font: 26px;
$medium-font: 18px;
$small-font: 14px;

//Speed
$fast: 0.2s;
$normal: 0.3s;
$slow: 0.4s;

//Rulers
$separation-big: 30px;
$separation-normal: 20px;
$separation-small: 10px;
